<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="students">
            <h2><span>Students</span> {{students.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{students.prenom}}</span>
                </dd>
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{students.nom}}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{students.age}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/students', students.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
